/* Define variables(aka template literals)*/
$bgcolor: lightyellow;
$textcolor: black;
$fontsize: 18px;

/* Using the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}    
